@tailwind base;
@plugin "tailwindcss-animate";
@tailwind utilities;


@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}